h1 {
  font-family: 'Satisfy', cursive;
}

h2, body {
  font-family: 'Roboto', sans-serif;
}

input {
  background-color: #ffff00;
}

#lastname {
  font-weight: bold;
}

.description {
  font-size: 0.7em;
}
