* {
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #000000;
}

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 4.5em;
}

h3 {
  font-family: 'Satisfy', cursive;
  font-size: 1.2em;
}

input {
  background-color: #ffff00;
}

img {
  margin-top: 30px;
}

a:link {
  text-decoration: none;
  font-weight: bolder;
}

.container {
  border: 1px solid black;
  background-color: #ffffff;
  margin: 50px;
  padding: 30px;
  max-width: 900px;
}

#lastname {
  font-weight: bold;
}

.application-header {
  font-size: 0.6em;
}
