{% extends 'base.html' %}

{% block title %}Application Form{% endblock %}
{% block heading %}Application for Kitteh{% endblock %}

{% block body %}


  {% if positions %}
    <h2><span class="application-header">Please fill out this application form to apply to an open position at Kitteh.</span></h2><br>

    <form action="/application-success" method="POST">

      <p><label for="firstname">First Name:&nbsp;</label><input id="firstname" type="text" name="firstname" required></p>
      <p><label for="lastname">Last Name:&nbsp;</label><input id="lastname" type="text" name="lastname" required></p>
      <p><label for="salaryrequirement">Salary Requirement:&nbsp;</label><input id="salaryrequirement" type="number" name="salaryreq" min="0" required></p>
      <fieldset>
        <legend>Position Applying for:</legend>
        {% for position in positions %}
        <input id="{{ position.lower().replace(' ','') }}" type="radio" name="position" value="{{ position }}" required><label for="{{ position.lower().replace(' ','') }}">&nbsp;{{ position }}</label><br>
        {% endfor %}
      </fieldset>

      <br>
      <br>

      <p><input type="submit" name="submit" value="Submit"></p>
    </form>

  {% else %}

    <h2><span class="application-header">Sorry! There are no Kitteh positions available at this time. Check back later!</h2>

  {% endif %}


{% endblock %}
