{% extends 'base.html' %}

{% block title %}Application Form{% endblock %}
{% block heading %}Application for Kitteh{% endblock %}

{% block body %}


  {% if positions %}
    <h2><span class="application-header">Please fill out this application form to apply to an open position at Kitteh.</span></h2><br>

    <form action="/application-success" method="POST">

      <p><label for="firstname">First Name:&nbsp;</label><input id="firstname" type="text" name="firstname" required></p>
      <p><label for="lastname">Last Name:&nbsp;</label><input id="lastname" type="text" name="lastname" required></p>
      <p><label for="salaryrequirement">Salary Requirement:&nbsp;</label><input id="salaryrequirement" type="number" name="salaryreq" min="0" required></p>

        <label for="positionapplying">Position Applying for:</label>
        <!-- When using a for loop with input type = "radio", I am unable to use a jinja for loop to complete this task because it results in individualized radio buttons. That means I can select multiple radio buttons (positions) on the same form. I ended up having to change this part to a dropdown instead. Is there a way to do it with radio buttons? -->
          <select id="positionapplying" name="position">
            {% for position in positions %}
              <option name="{{ position.lower().replace(' ','') }}" value="{{ position }}">&nbsp;{{ position }}</option>
            {% endfor %}
          </select>
      </fieldset>
      <br>
      <br>

      <p><input type="submit" name="submit" value="Submit"></p>
    </form>

  {% else %}

    <h2><span class="application-header">Sorry! There are no Kitteh positions available at this time. Check back later!</h2>

  {% endif %}


{% endblock %}
