{% extends 'base.html' %}

{% block title %}Kitteh World{% endblock %}
{% block heading %}Welcome to Kitteh World{% endblock %}

{% block body %}

  <h2>Where the Kittehs Rule!</h2><br>
  <div class="row">
    <div class="col-xs-12 text-center"><a href="/application-form"><h3>Meow! We're hiring! Click here to Kitteh with us!</a></h3></div>
  </div>
  <div class="row">
    <div class="col-xs-offset-3 col-xs-6"><img class="img-responsive center-block" src="http://orig07.deviantart.net/da1e/f/2011/169/f/c/the_derp_kitteh_by_codelyokofan59-d3j9mhf.jpg" /></div>
  </div>

{% endblock %}

