<!doctype html>
<html>
<head>
    <title>FILL OUT ZE FORM</title>
    <link rel="stylesheet" type="text/css" href="/static/madlibs.css"/>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
    <h1>Please fill out the form to play!</h1>
    <form action="/madlib">
        <p id= "person">Person: <input type="text" name="person"></p>
        <p id ="color">Color: <input type="text" name="color"></p>
        <p id = "noun">Noun: <input type="text" name="noun"></p>
        <p id = "adjective">Adjective: <input type="text" name="adjective"></p>
        <p id = "places">Places: <input type="checkbox" name="places" value="onballoonicorn">on balloonicorn <input type="checkbox" name="places" value="ceiling">the ceiling <input type="checkbox" name="places" value="meggiesdesk">Meggie's desk</p>
        <p><input type="submit"></p>
    </form>
</body>
</html>