<!doctype html>
<html>
<head>
    <title>FILL OUT ZE FORM</title>
    <link rel="stylesheet" type="text/css" href="/static/madlibs.css"/>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
    <h1>Please fill out the form to play!</h1>
    <h3>Or click this link for some giggles: <a href="/sample">HILARIOUS</a>
    <form action="/madlib">
        <p id= "verbing">Verb ending in -ing: <input type="text" name="verbing"></p>
        <p id ="place">Place: <input type="text" name="place"></p>

        <p id = "holiday_song">Holiday Song: <input type="text" name="holiday_song"></p>
        <p id = "adjective1">Adjective: <input type="text" name="adjective1"></p>
        <p id = "adjective2">Adjective: <input type="text" name="adjective2"></p>
        <p id = "name1">Name: <input type="text" name="name1"></p>
        <p id = "verbed1">Verb ending in -ed: <input type="text" name="verbed1"></p>
        <p id = "verbed2">Verb ending in -ed: <input type="text" name="verbed2"></p>
        <p id = "amount_of_time1">Amount of Time: <input type="text" name="amount_of_time1"></p>
        <p id = "verb">Verb: <input type="text" name="verb"></p>
        <p id = "plural_noun">Plural Noun: <input type="text" name="plural_noun"></p>
        <p id = "name2">Name of Relative: <input type="text" name="name2"></p>
        <p id = "number">Number: <input type="text" name="number"></p>
        <p id = "food">Food Item: <input type="text" name="food"></p>
        <p id = "verbed3">Verb ending in -ed: <input type="text" name="verbed3"></p>
        <p id = "noun">Noun: <input type="text" name="noun"></p>
        <p id = "singer">Singer's Name: <input type="text" name="singer"></p>
        <p id = "adjective3">Adjective: <input type="text" name="adjective3"></p>
        <p id = "name3">Name of Relative: <input type="text" name="name3"></p>
        <p id = "messy_food">Messy Food Item: <input type="text" name="messy_food"></p>
        <p id = "body_part">Body Part: <input type="text" name="body_part"></p>
        <p id = "amount_of_time2">Amount of Time: <input type="text" name="amount_of_time2"></p>
        <p id = "holiday_food">Holiday Food: <input type="text" name="holiday_food"></p>

        <p><input type="submit"></p>
    </form>
</body>
</html>
