<!doctype html>
<html>
<head>
    <title>Look at this Madlib</title>
    <link rel="stylesheet" type="text/css" href="/static/madlibs.css"/>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
</head>
<body>
    <p>There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way. 
        {% if places|length == 1 %}
            It landed on {{ places }} 
        {% endif %}

        {% if places|length > 1 %}
            It landed on 
                {% for place in places[:-1] %}
                    {{ place }},  
                {% endfor %}
            and {{places[-1]}}.    
        {% endif %}
    </p>
</body>
</html>