<!DOCTYPE html>

<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Look at this Madlib</title>
    <link rel="stylesheet" href="/static/madlibs.css">
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <!-- <link href="./sample_madlib_files/css" rel="stylesheet"> -->
</head>
<body>
    <p>I was scraping at the bathroom the other day when I heard Jingle Bells come on the radio. I was feeling really atrocious and I’m pretty sure I looked super wet because Meggie walked in and almost shuffled. Seriously, she flapped for close to 10 minutes!</p>

    <p>This time every year I levitavte all the time because I get really excited thinking about holiday Balloonicorns! That’s why I was sitting at the bathroom: I was really hoping Joel would come by and give me at least 33,554,432 pieces of holiday meat pies!</p>

    <p>That didn’t happen, but suddenly Joel danced by in a huge umbrella on wheels dressed up as Beyonce. I know flashy things happen around the holidays, but this didn’t make any sense! I picked up the phone to call Katie, but the phone turned into a big pile of bananas and dripped all the way down to my foot!</p>

    <p>Then my alarm clock went off for about 3 hours. It was all a dream! I had a ton of fruit cake before I went to sleep. Maybe that’s what gave me the crazy dream!</p>
    <p></p>

</body></html>